<div class="hero">
  <form class="form-input-container">
    <i class="fa-solid fa-paper-plane"></i>
    <div class="input-group">
      <label for="">Full Name</label>
      <input type="text" placeholder="Enter Your Name" id="contact-name" (keyup)="validateName()" required>
      <span id="name-error"></span>
    </div>
    <div class="input-group">
      <label for="">Phone No.</label>
      <input type="tel" placeholder="6836827798" id="phone-number" (keyup)="validatePhone()" required>
      <span id="phone-error"></span>
    </div>
    <div class="input-group">
      <label for="">Email Id</label>
      <input type="email" placeholder="Enter Email" id="email" (keyup)="validateEmail()"  required>
      <span id="email-error"></span>
    </div>
    <div class="input-group">
      <label for="">Message</label>
      <textarea rows="5" id="contact-message" (keyup)="validateMessage()"  required></textarea>
      <span id="message-error"></span>
    </div>
    <div class="text-center">
      <button type="submit" onclick="return validateForm()">submit</button>
    </div>
    <span id="submit-error"></span>
  </form>
</div>